{{template "base" .}}

{{define "title"}}Dashboard{{end}}

{{define "main"}}
  <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="row">
      <div class="col">
        <div class="card boder shadow">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card boder shadow">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card boder shadow">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    
    <div class= "p-4 mt-3 pt-3 shadow boder border-top">
      <h2>Find below the last 10 list of food posted on the platform</h2>
      {{if .Products}}
      <div class="p-5 table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Food ID</th>
              <th scope="col">Food Name</th>
              <th scope="col">Shelf Life</th>
            </tr>
          </thead>
          {{range .Products}}
          <tbody>
            <tr>
              <td>{{.ID}}</td>
              <td>{{.FoodID}}</td>
              <td>{{.FoodName}}</td>
              <td>{{.ShelfLife}}</td>
            </tr>
          </tbody>
          {{end}}
        </table>
      </div>
      {{end}}
    </div>
  </main>
{{end}}